*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-family: sans-serif;
    background-color: black;
    
}
nav{
    display: flex;
    background-image: linear-gradient(-10deg,#b913e2 25%, #1e42bb 100%) ;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    padding: 5px 0;
    color: #7a0797;
}

nav .logo h4{
    font-size: 45px;
    color: #7a0797;
    font-weight: bolder;
    -webkit-text-stroke: 1px #000000;
}
nav .logo p{
    font-size: 18px;
    color: #3b0049;
}

.list-nav {
    display: flex;
    list-style: none;
    width: 20%;
    color: black;
    justify-content: space-between;
    
}

nav ul li a{
    color: #320a3d ;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

/* hamburger menu */
.menu-toggle {
 display: none;
 flex-direction: column;
 height: 18px;
 justify-content: space-between;
 position: relative;
 cursor: pointer;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0.8;
    left: -5px;
    top: -5px;
    opacity: 0;
}

.menu-toggle span {
    display: block;
    width: 27px;
    height: 3px;
    background-color:#cb93da ;
    border-radius: 3px;
}

/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width:768px ) {
    .list-nav { width: 30%;}
    nav .logo p{font-size: 13px;}
    
}

/* Ukuran mobile */
@media screen and (max-width:576px) {
    
    .list-nav {
        position: absolute;
        right: 0px;
        height: 250px;
        top: 80px;
        background-image: linear-gradient(-10deg,#1e42bb 30%, #b913e2 100%) ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }
    nav .logo p{
        font-size:8px;
    }
    
    .menu-toggle {
        display: flex;
        justify-content: space-around;
    }
}
.list-active {
    transform: translateX(-40%);
    
}




