footer{
    font-family: monospace;
    background-color: grey;
    color: white;   
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}
.container1{ 
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    width: 1000px;
    padding: 50px 0;
    justify-content: space-evenly;
    align-content: center;
}
.container h5{
    font-size: 40px;
    color: rgb(101, 101, 243);
    padding: 1px;
    margin-left:60px;
}
.container1 a {
    font-size: 20px;
    color: rgb(51, 51, 104);
    padding: -40px;
    margin-top: 1px;
    margin-left:65px;
    text-decoration: none;
}
.container1 a:hover{
    color: rgb(187, 181, 181);
}
.container1 video{
    margin-left: 60px;
}
video{    
    width:800px;
    height: 500px;
}
.container1 ul{
    display: flex;
    width: 30%;
    margin-left: 75px;
    margin-top: -40px;
    justify-content: space-between;
    list-style: none;
    padding: 30px 0;
}

.container2{
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    width: 20%;
}
.kotak{
    padding: 10px;
}
.kotak a{
    color:rgb(51, 51, 104) ;
    text-decoration: none;
}
.kotak a:hover{
    color: rgb(187, 181, 181);
}

.container2 img{
    width: 100px;
}

/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width:768px ) {
    .container{
        flex-direction: column;
        height: 750px;
        justify-content: flex-start;
    }
    .container1{ 
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 280px;
        padding: 50px 0;
        justify-content: space-between;
        align-content: center;
        
    }

    .container1 h5 {
            font-size: 20px;
            margin-left:30px;
    }
    .container1 ul{
        margin-left: 60px;
    }
    video{
            width: 600px;
            height: 300px;
    }
    .container2{
            
        
            justify-content: space-evenly;
            align-items: center;
            width: 600px;
            height: 50px;
            padding : 60px 0;
            
    }
    .container2 ul {
        display: flex;          
    }
    .container2 ul li{
        justify-content: space-between;
    }

    .container2 ul .kotak{
        text-align: center;
    }
    .kotak a{
        text-decoration: none;
        line-height: 15px; 
        text-align: center;
    }
    .container2 img{
        width: 180px;
    }
/* Ukuran Tablet */
@media screen and (max-width:768px ) {
    .container{
        flex-direction: column;
        height: 750px;
        justify-content: flex-start;
    }
    .container1{ 
        display: flex;
        flex-direction: column;
        width: 550px;
        height: 250px;
        padding: 50px 0;
        justify-content: space-between;
        align-content: center;
    }

    .container1 h5 {
            font-size: 20px;
            margin-left:30px;
    }
    .container1 ul{width: 5%;
    }
    .container1 ul li{
        
        font-size: 10px;
        margin-left: 5px;
    }
    .container1 video{
        margin-left: 10px;
    }
    video{
            width: 600px;
            height: 300px;
            justify-self:center;
    }
    .container2{
            width: 600px;
            height: 200px;
            padding : 10px 0;
    }
    .container2 ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .kotak a{
        text-decoration: none;
        line-height: 15px; 
    }
    .container2{
        height: 400px;
    }
    .container2 img{
        width: 150px;
    }
    
}
/* Ukuran mobile */
@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
        height: 750px;
        justify-content: flex-start;
    }
    .container1{ 
        display: flex;
        flex-direction: column;
        width: 550px;
        height: 250px;
        padding: 50px 0;
        justify-content: space-between;
        align-content: center;
    }

    .container1 h5 {
            font-size: 20px;
            margin-left:30px;
    }
    .container1 ul{width: 5%;
    }
    .container1 ul li{
        
        font-size: 10px;
        margin-left: 5px;
    }
    .container1 video{
        margin-left: 10px;
    }
    video{
            width: 300px;
            height: 200px;
            margin-left: 10px;
            justify-self:center;
    }
    .container2{
            width: 300px;
            height: 200px;
            padding : 10px 0;
    }
    .container2 ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .kotak a{
        text-decoration: none;
        line-height: 15px; 
    }
    .container2{
        height: 400px;
    }
    .container2 img{
        width: 100px;
    }
    
}
}